*
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-color: black;
}
header
{
    width: 80%;
    height: 100px;
    margin-left: 10%;
    background-color: rgba(75,0,130, 0.8);
    margin-top: 10px;
    border-radius: 10px;
}
#link
{ 
    height: 80px;
    margin: 10px;
}
nav
{
    display: flex;
    justify-content: space-between;
}
a
{
    text-align: center;
    text-decoration: none;
    color: white;
}